body {
  margin: 0;
}

a#change {
  text-decoration: none;
  display: inline-block;
  padding: 12px 14px;
  border-radius: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
